In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import warnings
warnings.filterwarnings('ignore')

In [2]:
fee = pd.DataFrame({
    'ID':[11,12,13,14,15,16,17,18,19,20],
    'Pending':[5000,10000,np.nan,5500, 7600, np.nan, 15000,4500,2000, np.nan]
})

In [3]:
fee

   ID  Pending
0  11   5000.0
1  12  10000.0
2  13      NaN
3  14   5500.0
4  15   7600.0
5  16      NaN
6  17  15000.0
7  18   4500.0
8  19   2000.0
9  20      NaN

In [4]:
fee.isnull().sum()

ID         0
Pending    3
dtype: int64

In [5]:
fee['Pending'].fillna(fee['Pending'].mean(), inplace=True)

In [6]:
fee

   ID       Pending
0  11   5000.000000
1  12  10000.000000
2  13   7085.714286
3  14   5500.000000
4  15   7600.000000
5  16   7085.714286
6  17  15000.000000
7  18   4500.000000
8  19   2000.000000
9  20   7085.714286

In [7]:
fee['Pending'] = fee['Pending'].astype(int)

In [8]:
fee

   ID  Pending
0  11     5000
1  12    10000
2  13     7085
3  14     5500
4  15     7600
5  16     7085
6  17    15000
7  18     4500
8  19     2000
9  20     7085

In [9]:
scaler = MinMaxScaler()
stand = StandardScaler()

In [10]:
df_scaled = scaler.fit_transform(fee.to_numpy())
df_scaled = pd.DataFrame(df_scaled, columns=['ID','Pending'])
 
print("Scaled Dataset Using MinMaxScaler")
df_scaled.head()

Scaled Dataset Using MinMaxScaler

         ID   Pending
0  0.000000  0.230769
1  0.111111  0.615385
2  0.222222  0.391154
3  0.333333  0.269231
4  0.444444  0.430769

In [12]:
df_scaled = stand.fit_transform(fee.to_numpy())
df_scaled = pd.DataFrame(df_scaled, columns=['ID','Pending'])
 
print("Scaled Dataset Using StandardScaling")
df_scaled.head()

Scaled Dataset Using StandardScaling

         ID   Pending
0 -1.566699 -0.626504
1 -1.218544  0.875543
2 -0.870388 -0.000150
3 -0.522233 -0.476299
4 -0.174078  0.154561