In [4]:
import numpy as np
import pandas as pd
df  = pd.read_csv("q1_dataset.csv")

In [5]:
df.describe()

            Age
count  500.0000
mean    48.5100
std     18.6943
min     18.0000
25%     31.0000
50%     49.0000
75%     65.0000
max     79.0000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         500 non-null    int64
 1   Occupation  500 non-null    object
 2   Location    500 non-null    object
 3   Gender      500 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.8+ KB

In [9]:
# Observation
num_observation = len(df)
print(f"There are {num_observation} observation in the dataset")

There are 500 observation in the dataset

In [10]:
#Feature(row)
num_features = len(df.columns) 
print(f"There are {num_features} features in the dataset")n

There are 4 features in the dataset

In [14]:
df["Occupation"].value_counts()

Artist      145
Doctor      122
Teacher     121
Engineer    112
Name: Occupation, dtype: int64

In [15]:
df["Occupation"].nunique()

4

In [16]:
most_common_occ = df["Occupation"].mode()[0]
print(f"The most common occupation is:{most_common_occ}")

The most common occupation is:Artist

In [18]:
average_age = df["Age"].mean()
print(f"The average age of all people in the dataset is :{average_age}")

The average age of all people in the dataset is :48.51

In [22]:
average_age_grup = df.groupby("Occupation")['Age'].mean()
print('Average age of people in each occupation group')
print(average_age_grup)

Average age of people in each occupation group
Occupation
Artist      49.475862
Doctor      48.254098
Engineer    49.142857
Teacher     47.024793
Name: Age, dtype: float64

In [31]:
youngest_person_age = df["Age"].min()
print(youngest_person_age)
youngest_person_occ = df[df["Age"]==youngest_person_age]["Occupation"].iloc[0]
print(f"The Occupation of the youngest person is:{youngest_person_occ}")

18
The Occupation of the youngest person is:Artist

In [29]:
df['Occupation'].iloc[5]

'Engineer'