In [1]:
import pandas as pd

## Series

In [2]:
L1 = [10,20,30,40,50]

In [3]:
L1

[10, 20, 30, 40, 50]

In [4]:
s1 = pd.Series(L1)

In [5]:
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
s2 = pd.Series([10,'python',20.23], index=['a','b','c'])
s2

a        10
b    python
c     20.23
dtype: object

In [7]:
fruits = ['apple','banana','cherris','dragon fruit']

quantity = [20,30,40,50]

s = pd.Series(quantity, index=fruits)
print(s)

apple           20
banana          30
cherris         40
dragon fruit    50
dtype: int64

In [8]:
student = ['Abc','cdf','efg','xyz']

reg_no = [101,102,103,104]

s2 = pd.Series(reg_no, index=student)
s2

Abc    101
cdf    102
efg    103
xyz    104
dtype: int64

## DataFrame

In [9]:
pd.DataFrame

pandas.core.frame.DataFrame

In [10]:
d1 = {"col1" : [0], "col2" : [1], "col3" : [2]}
d1

{'col1': [0], 'col2': [1], 'col3': [2]}

In [11]:
dframe = pd.DataFrame(d1)
dframe

   col1  col2  col3
0     0     1     2